<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form class="form-container">
        <div class="card mt-3 bg-white">
          <h4 class="text-left ml-4">
            Add new Product <span class="fa fa-1x fa-pencil-square"></span>
          </h4>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(+type.value)">
              <div class="form-group">
                <label>Type</label>
                <select class="form-control" #type>
                  <option
                    *ngFor="let category of categories"
                    value="{{ category.id }}"
                  >
                    {{ category.type }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <input
                  placeholder="name"
                  type="text"
                  id="name"
                  [(ngModel)]="product.name"
                  name="name"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  placeholder="description"
                  type="text"
                  id="description"
                  [(ngModel)]="product.description"
                  name="description"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  placeholder="price"
                  type="text"
                  id="price"
                  [(ngModel)]="product.price"
                  name="price"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  placeholder="Image url"
                  type="text"
                  id="imageUrl"
                  [(ngModel)]="product.imageUrl"
                  name="imageUrl"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
