<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 m-auto">
        <form class="form-container">
          <div class="card mt-2 bg-white">
            <div class="card-title text-center mt-3">
              <img
                src="../../../assets/images/AvtarNew.png"
                height="140px"
                width="140px"
                class="img-rounded"
              />
            </div>
            <div class="card-body">
              <form (ngSubmit)="saveUser()" [formGroup]="form">
                <div class="input-group mb-3">
                  <label for="name"></label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    formControlName="name"
                    placeholder="Name "
                    [(ngModel)]="user.name"
                    required
                  />
                </div>
                <div class="input-group mb-3">
                  <label for="email"></label>
                  <input
                    type="email"
                    name="username"
                    class="form-control"
                    id="email"
                    placeholder="Email "
                    [(ngModel)]="user.username"
                    formControlName="username"
                    required
                  />
                </div>
                <div class="input-group mb-3">
                  <label for="inputPassword"></label>
                  <input
                    type="password"
                    class="form-control password"
                    id="inputPassword"
                    name="password"
                    placeholder="Password minimum length 6"
                    [(ngModel)]="user.password"
                    formControlName="password"
                    required
                  />
                </div>
                <div class="input-group mb-3">
                  <label for="confirmPassword"></label>
                  <input
                    type="password"
                    class="form-control password"
                    id="confirmPassword"
                    placeholder="Confirm password"
                    [(ngModel)]="user.confirmPassword"
                    name="confirmPassword"
                    required
                    formControlName="confirmPassword"
                  />
                </div>

                <button
                  *ngIf="!loading; else loaded"
                  [disabled]="!form.valid"
                  type="submit"
                  class="btn btn-block"
                  style="background-color: #00b0ff; color: #fff"
                >
                  Sign Up
                </button>
                <ng-template #loaded>
                  <button
                    disabled
                    class="btn btn-block"
                    style="background-color: #00b0ff; color: #fff"
                  >
                    <i class="fa fa-spinner fa-pulse"></i> Please wait
                  </button>
                </ng-template>
                <br />

                <p class="float-right mt-2">
                  Already have an account ?<a
                    routerLink="/login"
                    style="color: #00b0ff"
                  >
                    Login</a
                  >
                </p>
                <br />
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
