<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-2">
      <div class="filter mt-5">
        <app-product-category></app-product-category>
      </div>
    </div>
    <div class="col-lg-10">
      <h4 class="font-weight-bold mb-2">Product Catalog</h4>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-inline mx-auto my-2 d-inline" style="width: 300px">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search product from catalog"
                #searchvalue
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-mycolor"
                  type="button"
                  (click)="search(searchvalue.value)"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5 mb-4 mt-3">
        <div
          class="col-lg-3 col-md-6 mb-4 mb-lg-0"
          *ngFor="let prop of products"
        >
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="{{ prop.imageUrl }}"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5>
                <a href="#" class="text-dark">{{ prop.name }}</a>
              </h5>
              <p class="small text-muted font-italic">
                {{ prop.description | slice: 0:25 }}
              </p>
              <p class="small text-muted font-italic">
                Price : {{ prop.price | currency: "INR" }}
              </p>

              <a href="product/{{ prop.id }}" class="btn btn-outline-mycolor"
                >See more</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-10 mx-auto mt-3" *ngIf="products.length == 0">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Ah Snap!</h4>
            <p>No Product found!!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
